In [1]:
import warnings

import pandas as pd
import numpy as np

In [2]:
input_dir = '.\\out\\'
data_input = "cleaned_world_bank_data.pkl"
data = pd.read_pickle(input_dir + data_input)

In [3]:
predict_year = 2010
target = 'SI.POV.DDAY'
n_avg = 3

### Naive Predictor

Take the average of the last 'n_avg' values of the target variable

In [4]:
#Create an empty output dataframe
countries_in_data = list(data.index.levels[0]) 
naive_predictions = pd.DataFrame(index=countries_in_data, columns=[target])

In [5]:
for country in countries_in_data:
    with warnings.catch_warnings():
        # it's ok that we are getting the mean of empty arrays sometimes. It's the nature of..
        #our data that there is a lot of missing data.
        warnings.simplefilter("ignore") 
        naive_predictions.loc[country] = np.nanmean(data.loc[(country,str(predict_year-n_avg-1)):(country,str(predict_year-1)), 'SI.POV.DDAY' ].values)

In [6]:
naive_predictions.head(10)

                    SI.POV.DDAY
Afghanistan                 NaN
Albania                     0.4
Algeria                     NaN
American Samoa              NaN
Andorra                     NaN
Angola                     30.1
Antigua and Barbuda         NaN
Argentina                  2.85
Armenia                   2.325
Aruba                       NaN

### Evaluate Naive Predictor

In [8]:
#(naive_predictions - B)

In [ ]:
#mse = ((naive_predictions - B)**2).mean(axis=ax)